@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

.active {
  transform: scale(1.05);
  color: black;
  @apply bg-slate-100
    opacity-100 shadow-md;
}

.active-mobile {
  @apply bg-slate-100;
}

#home {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUpAnimation 2.5s ease-in-out forwards;
}

@keyframes fadeUpAnimation {
  from {
    opacity: 0;
    transform: translateY(150px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#let {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUpAnimation 1.5s ease-in-out forwards,tada 2s infinite;
  
}

@keyframes fadeUpAnimation {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



@keyframes tada {
  0% {
      transform: scale(1);
  }
  10%, 20% {
      transform: scale(0.9) rotate(-4deg);
  }
  30%, 50%, 70%, 90% {
      transform: scale(1.1) rotate(4deg);
  }
  40%, 60%, 80% {
      transform: scale(1.1) rotate(-4deg);
  }
  100% {
      transform: scale(1) rotate(0deg);
  }
}


#svgHome {
  font-family: "poppins", sans-serif;
  width: 300px;
  height: 70px;
}
@media screen and (min-width: 768px) {
  #svgHome {
      height: 100px; /* Mengubah tinggi elemen SVG menjadi 100px ketika layar lebih besar dari 768px */
      width: 450px;
  }
}
svg text {
  animation: stroke 5s infinite alternate;
  stroke-width: 2;
  stroke: #13b9da;
  
}


@keyframes stroke {
  0% {
    fill: rgba(19, 185, 218, 0);
    stroke:white;
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }
  70% {
    fill: rgba(19, 185, 218, 0);
    stroke: white;
  }
  80% {
    fill: rgba(19, 185, 218, 0);
    stroke: white;
    stroke-width: 3;
  }
  100% {
    fill: white;
    stroke: rgba(19, 185, 218, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}


