@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Poppins', sans-serif;
}

.active{ 
    transform: scale(1.05);
    color:black;
    @apply bg-slate-100
    opacity-100 shadow-md
}

.active-mobile{ 
    @apply bg-slate-100
    
}